[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest-cov = "*"
pytest-pythonpath = "*"
matplotlib = "*"

[packages]
tensorflow = "*"
opencv-python = "*"
#PyQt5 = "*"
Pillow = "*"
requests = "*"
#SIP = "*"
