[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[requires]

python_version = "3.5"


[packages]

opencv-python = "*"
pyqt5 = "*"
tensorflow = "*"
pytest = "*"
pillow = "*"
pylibfreenect2 = "*"
